<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.Voix.Dto.Member" alias="mem" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/MemberMapper.xml" />
		<mapper resource="mapper/TicketMapper.xml" />
		<mapper resource="mapper/NewsMapper.xml" />
		<mapper resource="mapper/ChartMapper.xml" />
		<mapper resource="mapper/AlbumMapper.xml" />
		<mapper resource="mapper/BlogMapper.xml" />
	</mappers>
</configuration>
