<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Voix.Dao.AlbumDao">
	<select id="selectAlbum_map">
		SELECT ALCODE, ALIMG, ALTITLE, ALARTIST, TO_CHAR(ALDATE,'YYYY-MM-DD') AS ALDATE, ALGENRE
		FROM ALBUMS GROUP BY ALCODE, ALTITLE, ALIMG, ALARTIST,ALDATE, ALGENRE ORDER BY ALDATE DESC
	</select>

	<select id="selectAlbumInfo_map">
		SELECT ALCODE, ALIMG, ALTITLE, ALPRICE, ALSALEPRICE, ALARTIST, TO_CHAR(ALDATE,'YYYY-MM-DD') AS ALDATE, ALINFO, ALGENRE, ALSCORE, ALLIST, ALSITE
		FROM ALBUMS WHERE ALTITLE = (SELECT ALTITLE FROM ALBUMS WHERE ALCODE = #{alcode}) ORDER BY ALDATE DESC
	</select>

	<select id="selectMaxCaCode">
		SELECT NVL(MAX(CACODE), 'C0000') FROM CARTS
	</select>

	<insert id="insertCart">
		INSERT INTO CARTS VALUES(#{cacode},#{camid},#{caalcode},#{caqty})
	</insert>

	<select id="selectCartList">
		SELECT C.CACODE, C.CAQTY,C.CAALCODE, A.ALPRICE, A.ALSALEPRICE, A.ALIMG, A.ALSITE, A.ALTITLE
		FROM CARTS C INNER JOIN ALBUMS A ON C.CAALCODE = A.ALCODE
		WHERE C.CAMID = #{loginId}
	</select>

	<delete id="DeleteCartList" parameterType="string">
		DELETE FROM CARTS WHERE CACODE = #{cacode}
	</delete>

	<select id="getAlbumInfo_alcode">
		SELECT * FROM ALBUMS WHERE ALCODE = #{alcode}
	</select>

	<select id="getmaxOdcode">
		SELECT NVL( MAX(ODCODE), 'O0000' ) FROM ORDERS
	</select>

	<insert id="insertOdInfo">
		INSERT INTO ORDERS(ODCODE, ODMID, ODALCODE, ODQTY, ODPRICE, ODDATE, ODADDR)
		VALUES (#{odcode},#{odmid},#{odalcode},#{odqty},#{odprice},SYSDATE,#{odaddr})
	</insert>

	<delete id="deleteReserve">
		DELETE FROM ORDERS WHERE ODCODE = #{odcode}
	</delete>

	<select id="selectSearch_Title">
		SELECT * FROM ALBUMS WHERE ALTITLE like '%${altitle}%'
	</select>

	<select id="selectSearch_Content">
		SELECT * FROM ALBUMS WHERE ALARTITST like '%${alartist}%'
	</select>

	<select id="selectReviewList" resultType="hashmap">
		SELECT * FROM REVIEWS WHERE RESTATE = #{alcode} ORDER BY REDATE DESC
	</select>

	<select id="selectMaxReCode">
		SELECT NVL(MAX(RECODE), 'RE0000') FROM REVIEWS
	</select>

	<insert id="albumRegistReview">
		INSERT INTO REVIEWS(RECODE,REWRITER,RECONTENT,REDATE,RESTATE) VALUES(#{recode},#{rewriter},#{recontent},SYSDATE,#{restate})
	</insert>

	<delete id="deleteReview">
		DELETE FROM REVIEWS WHERE RECODE = #{recode}
	</delete>

	<select id="selectMainAlbum">
		SELECT *
		FROM (SELECT ALCODE AS code, ALTITLE AS title , ALARTIST AS content , ALIMG AS img , ALDATE AS dat2
		FROM ALBUMS
		ORDER BY ALDATE DESC)
		WHERE ROWNUM = 1
	</select>

	<select id="selectMaxAlCode" resultType="String">
		SELECT NVL(MAX(ALCODE), 'A0000') FROM ALBUMS
	</select>

	<insert id="insertAlbumsPop">
		INSERT INTO ALBUMS VALUES(#{alcode}, #{alimg}, #{altitle}, #{alprice}, #{alsaleprice}, #{alartist}, TO_DATE(#{aldate}, 'YYYY-MM-DD'), #{alinfo}, '팝송', #{alscore}, #{allist}, 'Y')
	</insert>

	<insert id="insertAlbumsKpop">
		INSERT INTO ALBUMS VALUES(#{alcode}, #{alimg}, #{altitle}, #{alprice}, #{alsaleprice}, #{alartist}, TO_DATE(#{aldate}, 'YYYY-MM-DD'), #{alinfo}, '가요', #{alscore}, #{allist}, 'Y')
	</insert>

	<insert id="likeAlbum">
		INSERT INTO LIKES (LIMID, LILIST)
		VALUES (#{mid}, #{like})
	</insert>

	<select id="getLikedAlbumList" resultType="String">
   	 SELECT LILIST FROM LIKES WHERE LIMID = #{mid}
	</select>
	
	<delete id="unlikeAlbum">
	    DELETE FROM LIKES
	    WHERE LIMID = #{mid}
	    AND LILIST = #{like}
	</delete>
</mapper>
